{% if node.showInMenu %}
<li class="endpoint" uuid="{{ node.uuid }}">
    {% set epDef = mm.endpointDefinition(node) %}
    {% if epDef %}
        <a href="{{ path('dcms_admin_endpoint_edit', {
            'endpoint_uuid': node.uuid
        }) }}">
            <img src="{{ asset(mm.endpointDefinition(node).icon) }}"/>
            {{ node.title }}
        </a>
    {% else %}
        {{ node|yaml_dump }}
    {% endif %}
    <ul style="clear: both" class="tree">
        {% for child in node.children %}
            {% include "DCMSAdminBundle:Endpoint:_treeNode.html.twig" with {'node': child} %}
        {% endfor %}
    </ul>
</li>
{% endif %}
