<h3>Create Endpoint</h3>
<form>
    {{ form_errors(form) }}
    {{ form_errors(form.nodeName) }}
    {{ form_widget(form.nodeName, {'attr': {'placeholder': 'Title', 'class': 'large'}}) }}
    {{ form_errors(form.path) }}
    {{ form_widget(form.path, {'attr': {'placeholder': 'Path'}}) }}
    {{ form_errors(form.type) }}
    {{ form_widget(form.type) }}
    {{ form_rest(form) }}

    <div class="action-bar text-right">
        <button class="button" id="create_ep_submit_button">{% trans %}Create{% endtrans %}</button>
        <button class="button secondary" id="create_ep_submit_button">{% trans %}Cancel{% endtrans %}</button>
</form>
