{% extends "DCMSAdminBundle:Endpoint:layout.html.twig" %}
{% block javascripts %}
    {{ parent() }}
    {% for javascript in epDef.javascriptDependencies('edit') %}
        <script type="text/javascript" src="{{ asset(javascript) }}"></script>
    {% endfor %}
{% endblock %}
{% block stylesheets %}
    {% for stylesheet in epDef.stylesheetDependencies('edit') %}
        <link rel="stylesheet" href="{{ asset(stylesheet) }}" />
    {% endfor %}
{% endblock %}

{% block endpoint_edit %}
    <form action="{{ path('dcms_admin_endpoint_edit', {'endpoint_uuid': ep.uuid }) }}" method="POST">
        <div class="row">
        <div class="six columns">
            <h3 class="subheader">{{ epDef.title }} </h3>
        </div>
        <div class="six columns text-right">
            <input type="submit" value="Update" class="button"/>
            <a id="delete_endpoint_button" href="{{ path('dcms_admin_endpoint_delete', {'endpoint_uuid': ep.uuid}) }}" class="button alert">Delete</a>
        </div>
        </div>
        {{ form_errors(form) }}
        <div>
            {{ form_errors(form.path) }}
            {{ form_widget(form.path, {'attr': {'class': 'large'}}) }}
        </div>
        {% render epDef.controller('edit') with {
            'endpoint': ep,
            'form': form,
        } %}
        {{ form_rest(form) }}
    </form>
{% endblock %}
