<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('bundles/dcmsadmin/stylesheets/screen.css') }}"/>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body class="two-col">
        <div id="container">
            <div id="header">
                <h1 class="span-4"><img src="{{ asset('bundles/dcmsadmin/images/dcms.png') }}" /></h1>
                <nav id="level-1" class="span-8">
                    {{ knp_menu_render('DCMSAdminBundle:MainBuilder:build') }}
                </nav>
            </div>
            <div style="clear: both"></div>
            <div class="page_info">
                <h2>{% for node in knp_menu_get('DCMSAdminBundle:MainBuilder:build', {}).breadcrumbsArray %}{{ node.label }}{% endfor %}</h2>
            </div>
            {% block main %}
            {% endblock %}
        </div>

        {% block javascripts %}{% endblock %}
    </body>
</html>
