{% import "DCMSAdminBundle:Macro:forms.html.twig" as forms %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

        <link rel="stylesheet" href="{{ asset('bundles/manymulesfoundation/css/foundation.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/dcmsadmin/css/main.css') }}" />

        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <script type="text/javascript" src="{{ asset('bundles/sonatajquery/jquery-1.8.0.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/sonatajquery/jquery-ui-1.8.23.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/manymulesfoundation/js/jquery.foundation.reveal.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/manymulesfoundation/js/jquery.foundation.forms.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/dcmsadmin/js/jquery.loadmask.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/dcmsadmin/js/util.js') }}"></script>
    </head>
    <body>
                    {% for info in dcms_notification_helper.infos %}
                        <div class="alert-box success">
                            {{ info }}
                            <a href="" class="close">&times;</a>
                        </div>
                    {% endfor %}
                    {% for error in dcms_notification_helper.errors %}
                        <div class="alert-box alert">
                            {{ error }}
                            <a href="" class="close">&times;</a>
                        </div>
                    {% endfor %}

        <header class="row">
            <div class="twelve columns">
                <h1><!-- <img src="{{ asset('bundles/dcmsadmin/images/dcms.png') }}" />!--></h1>
                <nav id="level-1" class="top-bar">
                    {{ knp_menu_render('DCMSAdminBundle:MainBuilder:build', {'template': 'DCMSAdminBundle:Menu:_topBar.html.twig'}) }}
                </nav>
            </div>
        </header>
        <div class="main row">
                <div class="twelve columns">
                    {% block main %}
                    {% endblock %}
                </div>
            </div>
        </div>

        {% block javascripts %}
        {% endblock %}
    </body>
</html>
