{% extends "DCMSThemeBundle:Template:layout.html.twig" %}
{% block content %}
<div class="row">
    <div class="nine columns">
        <h3 class="subheader">Templates</h3>
    </div>
</div>
<div class="row">
    <div class="twelve columns">
        {% if (not type or type == 'layout') and defaultLayout %}
            <div class="panel callout radius">
                <h3>
                    <a href="{{ path('dcms_theme_template_edit', {
                        'template_uuid': defaultLayout.uuid
                    }) }}">{{ defaultLayout.resource }}</a>
                </h3>
                <a href="{{ path('dcms_theme_template_edit', {
                    'template_uuid': defaultLayout.uuid
                }) }}">Edit</a> | 
                Default template
            </div>
        {% endif %}
        {% for template in templates %}
            {% if template != defaultLayout %}
                <div class="panel radius">
                    <h4>
                        <a href="{{ path('dcms_theme_template_edit', {
                            'template_uuid': template.uuid
                        }) }}">{{ template.resource }}</a>
                    </h4>
                    <a href="{{ path('dcms_theme_template_edit', {
                        'template_uuid': template.uuid
                    }) }}">Edit</a> | 
                    <a href="{{ path('dcms_theme_template_makedefault', {
                        'template_uuid': template.uuid,
                        }) }}">Make default</a>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}


